<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Contacts</title>
	<!--<link rel="stylesheet" href="css/contact.css" />	-->
	<script 
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
  	<script src="/js/contact.js"></script>

  	<style type="text/css">
	ul {
		padding: 0;
		margin: 0;
	}

	ul.middleList{
		text-align:center;
		list-style-type:none;	
	}
	li {
		margin-bottom:10px;
	}
	body {
			padding: 0;
			margin:0;
			background-color:white;
			align-self:center;
		}
	#nav_bar{
			position: fixed;
			top:0;
			left:0;
			background-color: white;
			border-bottom: 1px solid grey;
			width: 100%;
			height: 50px;
			z-index: 1024;
		}
	#nav_bar_content{
			list-style: none;
			display: flex;
			padding: 10px;
			line-height: 30px;
		}
	#nav_bar_left{
			width: 25%;
			text-align:left;
		}
	.click_button {
        	background-color: transparent;
			border-radius: 5px;
			border: 1px solid black;
			line-height: 24px;
			padding: 0 10px;
			outline:none;
			transition: all 0.2s;
			-webkit-user-select: none;
  		}
    .click_button:active{
			background-color: rgba(150, 150, 150, 0.3);
	}
	#nav_bar_middle{
			width: 50%;
			text-align: center;
	}
	main {
		margin-left: 50px;
		margin-top: 51px;
		padding: 15px;
	}
	.contact_img{
		margin-left: 65px;
		max-width: 80px;
	}
	h2, h3, h4, h5 {
  		font-family: 'Alegreya Sans', sans-serif;
  		font-weight: 300;
  		margin-top: 30px;
	}
	.click_button{
		width: 80%;
  		background-color: transparent;
  		border-radius: 5px;
  		border: 1px solid black;
  		line-height: 24px;
  		padding: 0 10px;
  		outline:none;
  		transition: all 0.2s;
  		-webkit-user-select: none;
	}
</style>
</head>

<body>
	<nav id="nav_bar">	
		<ul id="nav_bar_content">
			<li id="nav_bar_left">
				<button id="back_button" class="click_button" onclick="backToIndex()">
					<strong>Back</strong>
				</button>		
			</li>
			<li id="nav_bar_middle">
				
				<strong id="profile_name">
					{{name}}
				</strong>
			</li>
			<li id="nav_bar_right">
			</li>
		</ul>
	</nav>

	<main>
		<ul class="contact_info">
			<img class="contact_img" hspace="10" src="{{image}}">
			<ul>
				<h3><font color = "#0059b3"><strong>{{name}} </strong>has shared this information with you:</font></h3>
				<li><h4><strong>Phone:</strong> {{phone}}</h4></li>
				<li><h4><strong>Email:</strong> {{email}}</h4></li>
			</ul>
			<ul>	
				<h3><font color = "#0059b3">You have shared this information to <strong>{{name}}</strong>:</font></h3>
					<li><h4><strong>Phone</strong></h4>
					<li><h4><strong>Facebook</strong></h4>
			</ul>
		</ul>
		<button id="back_button" class="click_button" onclick="deleteContact()">
			<strong>Delete this contact</strong>
		</button>
		<h5>By deleting this contact, you won't be able to share contact information with <strong>{{name}}</strong>.</h5>
	</main>
	</body>
</html>