<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Groups</title>
	<link rel="stylesheet" href="/css/groups.css" />
	<link rel="stylesheet" href="/css/settings.css" />
	<link rel="stylesheet" href="css/HomePage.css" />
	<script
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
    <script src="/js/Groups.js"></script>
</head>
<body>
	<nav id="nav_bar">
		<ul id="nav_bar_content">
			<li id="nav_bar_left">
				<button id="back_button" class="click_button" onclick="backToIndex()">
					<strong>Back</strong>
				</button>
			</li>
			<li id="nav_bar_middle">
				<strong>Groups</strong>
			</li>
			<li id="nav_bar_right">
			</li>
		</ul>
	</nav>
	<main>
		<ul id="contact_list">
			{{#each group}}
			<div class="group" id="{{id}}">
				<li class="contact_item">
					<button id="{{id}}" onclick="location.href='#'">
                        <h2>{{gname}}</h2>
                    </button>
				</li>
			</div>
			{{/each}}
		</ul>
<!--
			{{#each group}}
			<div class="group" id="{{id}}">
				<div class = thumbnail>
                	<a href="#">
						<h2>{{gname}}</h2>
					</a>
					
                
                	<div class="details"></div>
                    <button id="{{id}}" onclick="changePageToContact(this)">
                        <img class="contact_img" src="{{imageURL}}">
                        <strong>{{name}}</strong>
                    </button>
                	
                </div>
            </div>
            {{/each}}

            -->
            <br>
            <div class="details"></div>
            <input type="button" value="Add Group">
            <div class="divider"></div>
            <input type="button" value="Delete Group">
	</main>
	</body>
</html>